{% extends 'task_app_base.html' %} 

{% block title %} Update Task {% endblock %} 

{%block content %}
<div class="row center-align">
    <div class="col s12">
        <form method="post" enctype="multipart/form-data" action="" role="form">
            {% csrf_token %}

            <h3 class="title is-3">Update Your Task</h3>
            <br>

            <div class="input-field col s12" style="padding-top: 10px">
                {{ form.title }}
                <label for="description" style="font-weight: normal">Updated Title</label>
            </div>

            <div class="input-field col s12" style="padding-top: 10px">
                {{ form.description }}
                <label for="description">Updated Description</label>
            </div>

            <div class="input-field col s12" style="padding-top: 10px">
                {{ form.priority }}
                <label for="description">Updated Priority</label>
            </div>

            <div class="field">
                <p class="control">
                    <button style="margin-top: 50px" type="submit" value="login" class="btn backcl waves-effect waves-light">Create Task</button>
                </p>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}