{% extends 'auth_app_base.html' %} 

{% block title %} Sign Up Page {% endblock %} 

{% block content %} 
{% if error == True %}
<div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
    <strong>Note!</strong> {{ error_msg }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<main class="main">
    <div class="container">
        <section class="wrapper">
            <div class="heading">
                <h1 class="text text-large">Forgot Password</h1>
                <p class="text text-normal">Not Registered?<span><a href="{% url 'user_signup' %}" class="text text-links"> Create an account</a></span>
                </p>
            </div>
            <form method="POST" name="login" class="form">
                {% csrf_token %}
                <div class="input-control">
                    <label for="email" class="input-label" hidden>Email Address</label>
                    <input type="email" name="un" class="input-field" placeholder="Registered Email Address" required>
                </div>
                <br>
                <div class="input-control">
                    <a href="#" class="text text-links"> </a>
                    <input type="submit" name="submit" class="input-submit" value="Request">
                </div>
                <br>
            </form>
        </section>
    </div>
</main>

{% endblock %}